### Build + Gradle ###
.gradle/
build/
out/
run/

### Logs ###
*.log
debug.log
latest.log

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

### VSCode (optional) ###
.vscode/

### Python ###
__pycache__/
*.pyc
*.pyo

### ML Models + Training Outputs ###
src/python/models/
src/python/graphs/
src/python/imitate/
src/python/cnn_debug/
src/python/*.pt
src/python/*.pth

### OS junk ###
.DS_Store
Thumbs.db

